musicrecommender/recommender/__pycache__/
musicrecommender/musicrecommender/__pycache__/
.env
musicrecommender/.cache
musicrecommender/musicrecommender/__pycache__/settings.cpython-310.pyc
musicrecommender/db.sqlite3